*{
    padding: 0%;
    margin: 0%;
}
.incre{
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    color: blue;
}
.space{
    height: 100px;
}

.ntxt{
    font-size: 20px;
}
.logo{
    width: 9%;
    height: 90%;
}
 .row{
    
    background: rgba(247, 225, 193, 0.918);

} 
.abt{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 40px;
    margin: 10px;
    align-content: center;
}
.abot{
    background-color: bisque;
    padding-left: 50px;
}
.pkd{
    float:inline-start;
}
.hhh{
    height: 580px;
}
.hei{
    background: violet;
    height: 280px;
}